<phpunit bootstrap="vendor/autoload.php">
  <php>
    <server name="KERNEL_DIR" value="src/App" />
    <server name="KERNEL_CLASS" value="\App\Kernel" />
    <env name="DATABASE_URL" value="mysql://root:invoice@db:3306/invoice?charset=utf8mb4" />
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
