security:
    encoders:
        App\Security\User:
            algorithm: bcrypt
    providers:
        user: { id: l3l0labs.app.security.user_provider }
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: ~
            provider: user
            form_login:
                login_path: login
                check_path: login

            logout:
                path: logout
                target: /
                invalidate_session: true

    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/, roles: ROLE_USER }
